[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "htdp"]
	path = htdp
	url = https://github.com/jbuonagurio/rhtdp
	shallow = true
	registered = true
